---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro" id="about">
			<div class="container">
				<div class="wrapper">
					<div class="five">
					<img style="border-radius:7px;" src="/assets/images/self/self.jpg">
					</div>
					<div class="six">
						<h3>About me.</h3>
						<table style="width:30%;">
							<tr>
								<td>Name : </td>
								<td>김혜린</td>
							</tr>
							<tr>
								<td>Birth : </td>
								<td>1998.11.09</td>
							</tr>
							<tr>
								<td>Email : </td>
								<td>heairin1008@naver.com</td>
							</tr>
							<tr>
								<td>Phone : </td>
								<td>010-5024-2468</td>
							</tr>
						</table>
					</div>
				</div>
				
			</div>
		</section>
		<section class="intro">
			<div class="container">
				<hr>
				<br>
				<h3>Education</h3>
				<ul class="container education-list" style="margin-left:20px;">
               				<li class="img-wrapper">
						<h3>Language</h3>
						<p class="h2"> - Java <br>
						    - HTML <br>
						    - CSS <br>
						    - JavaScript
						</p>
					</li>
					<li class="img-wrapper">
						<h3>Front-End</h3>
						<p class="h2"> - BootStrap <br>
						    - AJAX <br>
						    - Chart.js
						</p>
					</li>
					<li class="img-wrapper">
						<h3>Back-End</h3>
						<p class="h2"> - Spring <br>
						    - JSP / JSTL <br>
						    - MyBatis<br>
						</p>
					</li>
					<br>
					<li class="img-wrapper">
						<h3>DataBase </h3>
						<p class="h2"> - MySQL <br>
						    - Mariadb <br>
						    - Oracle <br>
						    - MSSQL
						</p>
					</li>
					<li class="img-wrapper">
						<h3>Tool </h3>
						<p class="h2"> - Eclipse <br>
						    - Heidisql <br>
					     	    - Spring Tool Suite 4 <br>
						    - Visual Studio <br>
						    - Git hub
						</p>
					</li>
				</ul>
			</div>
		</section>
		<section class="projects" id="portfolio">
			<div class="container">
				<hr>
				<br>
				<h3>Projects I have worked on.</h3>
				<span class="h2">사진 클릭 시 해당 페이지로 이동합니다.</span><br>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{item.project.goUrl}}" target="_blank">
								<div class="img-wrapper">
									<img id="img" src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
							</a>
							<div style="display:block; padding: 0 1.5rem;">
							<br>
							<h3>{{ item.project.title }}</h3>
							<span class="h2">{{ item.project.type }}</span>
							</div>
							<a class="h2" href="{{item.project.url}}" target="_blank">[GitHub]</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	<div id="contact">
	{% include footer.html %}
	</div>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
