<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a>
		</h1>
		<nav id="nav">
			<ul>
				<li><a href="#about" class="active">About me</a></li>
				<li><a href="#portfolio">Project</a></li>
				<li><a href="#cta">Contact</a></li>
			</ul>
		</nav>
		<br>
		<div style="margin-top:20px;">
			<img style="border-radius:50px;" src="/assets/images/projects/self/self.jpg">
		</div>
	</div>
</header>
